<% layout("layouts/boilerplate") %>
<div class="container">
  <h1 class="display-3 text-center">Page not Found! (404)</h1>
  <div class="notfound">
    <p class="text-center">Go to <a href="/">HomePage</a></p>
  </div>
</div>
