<% layout('layouts/boilerplate') %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">AS BANK</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/show">View All Customers</a>
        <a class="nav-link" href="/history">Payment History</a>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <h1 class="text-center p-4">Send Money</h1>

  <div class="row mt-5 pt-3">
    <div class="col-8 offset-2">
      <form
        action="/transact"
        class="row g-3 needs-validation"
        method="POST"
        novalidate
      >
        <div class="col-6">
          <label for="validationCustom04" class="form-label">From</label>
          <select
            name="transact[from]"
            class="form-select"
            id="validationCustom04"
          >
            <option selected value="<%= currentuser.name %>">
              <%= currentuser.name %>
            </option>
          </select>
        </div>

        <div class="col-6">
          <label for="validationCustom04" class="form-label">To</label>
          <select
            name="transact[to]"
            class="form-select"
            id="validationCustom04"
            required
          >
            <option selected disabled value="">Choose...</option>
            <% for (user of users) { %> <% if (user.name !== currentuser.name)
            {%>
            <option><%= user.name %></option>
            <% } %> <% } %>
          </select>
          <div class="invalid-feedback">Please select a valid User.</div>
        </div>

        <div class="col-6">
          <label for="amount" class="form-label">Amount</label>
          <input
            type="text"
            class="form-control"
            id="amount"
            name="transact[amount]"
            required
          />
          <div class="invalid-feedback">Please provide a valid zip.</div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary col-3" type="submit">Pay</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  (function () {
    "use strict";
    var forms = document.querySelectorAll(".needs-validation");
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener(
        "submit",
        function (event) {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add("was-validated");
        },
        false
      );
    });
  })();
</script>
